#forms{
    display: flex;
    flex-direction: column;
}
input{
    width: 120px;
    margin: 5px
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number]{
    appearance: textfield;
}
#Add{
    width: 70px;
    margin: 10px;
}